<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../public/css/dashboard.css">
</head>
<body>
    <header>
        <h1>Dashboard</h1>
    </header>
    <main>
        <div id="dashboard"></div>
        <div class="report-buttons">
            <button id="generateGeneralReport">Generar Reporte General</button>
            <button id="exportPDF">Exportar a PDF</button>
            <button id="exportExcel">Exportar a  Excel</button>
        </div>
        <div id="reportContainer"></div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script src="../public/js/dashboard.js"></script>
</body>
</html>